.banner1{
	background:url(../Asset/Lab.jpg) no-repeat 0px 0px;
	background-size:cover;
    width: 100%;
	min-height:620px;
    padding-top: 150px;
    }

.content{
    padding-top: 120px;
}

.tag1, .tag2 {
    display: inline-flex;
    align-items: center;
    background: #f7d528;
    padding: 12px 28px;
    border-radius: 20px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #0056a3;
    gap: 10px;
}
    .tag1 {
    font-size: 28px;
    margin-bottom: 15px;
}

    .tag2 {
    font-size: 28px;
    margin-top: 15px;
}

    .emoji, .emoji1 {
        width: 28px;
        height: 28px;
        object-fit: cover;
    }


.tag-badge, .tag-badge1 {
    padding: 6px 20px;
    background: #ffffff;
    color: #0056a3;
    border-radius: 20px;
    font-size: 14px;
    border: 2px solid #0056a3;
    display: inline-block;
    margin-right: 10px;
}       